.footer {
  padding: 1.7rem 0 2rem;
  background-color: rgba(0, 0, 0, 0.85);
  font-size: 1.3rem;
  border-top: 1px solid $gray-light;

  .container {
    @include tablet() {
      max-width: 50%;
      margin: 0 auto;
    }
  }

  p {
    margin-bottom: 1.3rem;
  }

  .menu {
    display: flex;
    flex-direction: column;

    li {
      list-style: none;
      padding: .3rem 0;
    }
    
    li a {
      color: $gray-light;
    }    

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  
  .language {
    appearance: none;
    margin-top: 2rem;
    padding: 1rem 3rem;
    font-size: 1.3rem;
    font-weight: 700;
    outline: none;
    border-radius: $radius;
    border: 1px solid $gray-medium;
    background-color: $black;
    color: $gray-light;
  }
}
