.login-container {
  width: 80vw;
  margin: 2.9rem auto;
  border-radius: $radius;

  @include tablet {
    max-width: 350px;
    padding: 2rem 4rem;
    background-color: rgba(0, 0, 0, 0.85);
  }
}

.login-input {
  display: flex;
  position: relative;
  margin-bottom: 2rem;

  .input-placeholder {
    position: absolute;
    top: 1.5rem;
    left: 1rem;
    font-size: 1.3rem;
    transition: font-size .2s ease, top .2s ease;
    color: $gray-light;

    &.valid {
      top: .6rem;
      font-size: 1.1rem;
    }
  }

  input {
    flex: 1;
    padding: 2rem 1.2rem .7rem;
    border: none;
    font-size: 1.5rem;
    background-color: $gray;
    border-radius: $radius;
    color: $white;

    &:focus {
      background-color: $gray-medium;
      outline: none;
      /* Efecto para subir el placeholder */
      + .input-placeholder {
        @extend .valid;
      }
    }

    &.not-valid {
      border-bottom: 2px solid $secondary;
    }
  } 

  /* Show password styles */
  span {
    position: absolute;
    top: 1.6rem;
    right: 3rem;
    text-transform: uppercase;

    &:hover {
      cursor: pointer;
    }
  }
}

.submit {
  @include button($primary, $white);

  &:hover {
    cursor: pointer;
  }
}

.others {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  margin: 0.5rem 0 6.5rem;
  font-size: 1.3rem;

  .help a {
    color: $gray-light;
  }
}
