/* Screen Width */
@mixin tablet() {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin desktop() {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

/* Images */ 
@mixin backgroundImage($sourceImage) {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url($sourceImage) no-repeat center center fixed;
  background-size: cover;
}

/* Buttons */
@mixin button($backgroundColor, $fontColor) {
  display: block;
  outline: none;
  width: 70%;
  margin: 2rem auto;
  padding: 1rem 0;
  border: none;
  border-radius: $radius;
  text-align: center;
  text-decoration: none;
  font-size: 1.3rem;
  background-color: $backgroundColor;
  color: $fontColor;
}