/* Fonts */
$principalFont: Arial, Helvetica, sans-serif;


/* Screen widths */
$tablet: 768px;
$desktop: 1200px;

/* Colors */
$primary: #E50914;
$secondary: #E87C03;
$gray: #323232;
$gray-light: #8C8C8C;
$gray-medium: #454545;
$white: white;
$black: black;
$facebook-color: #385898;

/* Borders */
$radius: 6px;